

<div id="big1">
	<header id="header2">
          <h1>Attorney/Insurance Agent Providers</h1><%=image_tag "images(7).jpg" %>
			</header>
</div>
<nav id="top_menu">
<%=render :partial=>'shared/navigation'%>
  </nav>



<div id="div3"><%=image_tag "image (23).jpg"%>
  <h2>Law Offices</h2>
<h2><%=link_to "Law Offices" ,clients_path%></h2>
</div>


  <div id="div3"><%=image_tag "image(20).jpg"%>
<h2>Individual Attorneys</h2>
   <h2> <%=link_to "Individual Attorneys" ,clients_path%></h2>

  </div>
  <div id="div3"><%=image_tag "image(26).jpg"%>
<h2>Insurance Agencies</h2>
   <h2><%=link_to "Insurance Agencies" ,clients_path%></h2>

  </div>
   <div id="div3"><%=image_tag "image(30).jpg"%>
   <h2>Individual Agents</h2>
   <h2><%=link_to "Individual Agents" ,clients_path%></h2>
   </div>
