<div id="big1">
	<header id="header2">
          <h1>Caregiver Providers</h1>
      <div id="div4"><%=image_tag "image(14).jpg"%>
    </div>
    </header>
</div>
<nav id="top_menu">
<%=render :partial=>'shared/navigation'%>
  </nav>

<nav id="nav2">
  
<div id="div7">
  <%=image_tag "image(31).jpg"%>
</div>
  <div id="div3">
    
    <h3>Caregiver Providers information:</h3>
    <h3> Individuals</h3>
   <p id="para">
    <h2><%=link_to "Individuals" ,clients_path%></h2>
    </p>
  <h3>Caregiver Providers information:</h3>
    <h3>In-home care</h3>
<p id="para">
    <h2><%=link_to "In-Home Care" ,clients_path%></h2>
    </p>
<h3>Caregiver Providers information:</h3>
    <h3>Care Facilities</h3>
<p id="para">
    <h2><%=link_to "Care Facilities" ,clients_path%></h2></div>
</nav>