<div id="big1">
	<header id="header2">

		<%=image_tag "images(18).jpg" %>
             <h1>Financial Providers</h1>
			</header>
</div>
<nav id="top_menu">
<%=render :partial=>'shared/navigation'%>
  </nav>

<nav id="nav2">
  
  <div id="div3">
    <h2>tax advisors</h2>
    <%=image_tag "image(11).jpg"%>
    
    <p id="para">
      <%=link_to "Search for tax advisors" ,clients_path%><br/>
      <%=link_to "Are you a tax advisors post your ads here",clients_path%><br/>
      <%=link_to "Manager login",clients_path%><br/>
      <%=link_to "Clint",clients_path%></P>
  </div>
  <div id="div4">
    <h2>Income Tax Preparers</h2>
    <%=image_tag "image(9).jpg"%>
    <p id="para">
      <%=link_to "Search for tax advisors" ,clients_path%><br/>
     <%=link_to "Are you a tax advisors post your ads here",clients_path%><br/>
     <%=link_to "Manager login",clients_path%><br/>
     <%=link_to "Clint",clients_path%>
    </P>
  </div>
  <div id="div5">
    <h2>Other Accountants/CPAs</h2><%=image_tag "images(7).jpg"%>
    <p id="para">
      <%=link_to "Search for tax advisors" ,clients_path%><br/>
     <%=link_to "Are you a tax advisors post your ads here",clients_path%><br/>
     <%=link_to "Manager login",clients_path%><br/>
     <%=link_to "Clint",clients_path%>
    </P>
  </div>
 </nav>