<div id="big1">
	<header id="header2">
      <%=image_tag "images (30).jpg" %>
             <h1>Healthcare Providers</h1>
    </header>
</div>
<nav id="top_menu">
<%=render :partial=>'shared/navigation'%>
  </nav>
<nav id="nav7">"
  <div id="div8">
<h2>To Search for Physicians</h2>
    <h2><%=link_to "Physicians" ,clients_path%></h2>
 <%=image_tag "image(10).jpg"%>
  </div>
   <div id="div8">
 <h2>To Search for Specialists</h2>
 <h2><%=link_to "Specialists" ,clients_path%> </h2>
 <%=image_tag "image(16).jpg"%>
   </div>
 <div id="div8">
  <h2>To Search for Therapists</h2>
    <h2><%=link_to "Therapists" ,clients_path%> </h2>
    <%=image_tag "images (29).jpg"%>
     </div>
 <div id="div8">
  <h2>To Search for pharmacies</h2>
     <h2><%=link_to "Pharmacies" ,clients_path%> </h2>
     <%=image_tag "image(22).jpg"%>
      </div>
</nav>


