
<%= form_for(@legal_document) do |f| %>
  <% if @legal_document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@legal_document.errors.count, "error") %> prohibited this legal_doucument from being saved:</h2>

      <ul>
      <% @legal_document.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :do_Not_Resuscitate %><br />
    <%= f.text_field :do_Not_Resuscitate %>
  </div>
  <div class="field">
    <%= f.label :healthcare_Directive %><br />
    <%= f.text_field :healthcare_Directive %>
  </div>
  <div class="field">
    <%= f.label :power_of_Attorney %><br />
    <%= f.text_field :power_of_Attorney %>
  </div>
  <div class="field">
    <%= f.label :will %><br />
    <%= f.text_area :will %>
  </div>
  <div class="field">
    <%= f.label :trust %><br />
    <%= f.text_field :trust %>
  </div>
  <div class="field">
    <%= f.label :wishes %><br />
    <%= f.text_area :wishes %>
  </div>
  <div class="field">
    <%= f.label :letter_of_Authorization %><br />
    <%= f.text_area :letter_of_Authorization %>
  </div>
  <div class="field">
    <%= f.label :pension_Papers %><br />
    <%= f.text_area :pension_Papers %>
  </div>
  <div class="field">
    <%= f.label :location_of_Original %><br />
    <%= f.text_field :location_of_Original %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
