<h1>Listing legal_documents</h1>

<table>
  <tr>
    <th>Do ot resuscitate</th>
    <th>Health care directive</th>
    <th>Power of attorney</th>
    <th>Will</th>
    <th>Trust</th>
    <th>Wishes</th>
    <th>Letter of authorization</th>
    <th>Pension papers</th>
    <th>Location of original</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @legal_documents.each do |legal_document| %>
  <tr>
    <td><%= legal_document.do_ot_resuscitate %></td>
    <td><%= legal_document.health_care_directive %></td>
    <td><%= legal_document.power_of_attorney %></td>
    <td><%= legal_document.will %></td>
    <td><%= legal_document.trust %></td>
    <td><%= legal_document.wishes %></td>
    <td><%= legal_document.letter_of_authorization %></td>
    <td><%= legal_document.pension_papers %></td>
    <td><%= legal_document.location_of_original %></td>
    <td><%= link_to 'Show', legal_document %></td>
    <td><%= link_to 'Edit', edit_legal_document_path(legal_document) %></td>
    <td><%= link_to 'Destroy', legal_document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Legal document', new_legal_document_path %>
