<p id="notice"><%= notice %></p>

<p>
  <b>Do ot resuscitate:</b>
  <%= @legal_document.do_ot_resuscitate %>
</p>

<p>
  <b>Health care directive:</b>
  <%= @legal_document.health_care_directive %>
</p>

<p>
  <b>Power of attorney:</b>
  <%= @legal_document.power_of_attorney %>
</p>

<p>
  <b>Will:</b>
  <%= @legal_document.will %>
</p>

<p>
  <b>Trust:</b>
  <%= @legal_document.trust %>
</p>

<p>
  <b>Wishes:</b>
  <%= @legal_document.wishes %>
</p>

<p>
  <b>Letter of authorization:</b>
  <%= @legal_document.letter_of_authorization %>
</p>

<p>
  <b>Pension papers:</b>
  <%= @legal_document.pension_papers %>
</p>

<p>
  <b>Location of original:</b>
  <%= @legal_document.location_of_original %>
</p>


<%= link_to 'Edit', edit_legal_document_path(@legal_document) %> |
<%= link_to 'Back', legal_documents_path %>
