<div id="new_div1">


    <%= link_to 'New Client', new_client_path %></br>
    <%= link_to 'New Banking financial', new_banking_financial_path %></br>
    <%= link_to 'New Insurance', new_insurance_path %></br>
    <%= link_to 'New Legal doucument', new_legal_doucument_path %></br>
    <%= link_to 'New Loans credit card', new_loans_credit_card_path %></br>
    <%= link_to 'New Medical history', new_medical_history_path %></br>
  <%= link_to 'New Medication', new_medication_path %></br>
<%= link_to 'New Personal property', new_personal_property_path %></br>

</div>