<div id="new_div1">


  <%= link_to '1.New Client Details', new_client_path %></br>
  <%= link_to '2.Banking financial Details ', new_banking_financial_path %></br>
  <%= link_to '3.Insurance Details', new_insurance_path %></br>
  <%= link_to '4.Loans credit card Details', new_loans_credit_card_path %></br>
  <%= link_to '6.Medical history Details', new_medical_history_path %></br>
  <%= link_to '7.Medication Details', new_medication_path %></br>
  <%= link_to '8.Personal property Details', new_personal_property_path %></br>
  <%= link_to "8.Enter About Funeral Arrangements",clients_path %></br>
  <%= link_to "9.Enter Military History",clients_path %></br>
  <%=link_to "10.Enter Employment History",clients_path%></br>
  <%=link_to "11.Enter Pet Information",clients_path%></br>
  <%=link_to "12.Enter Utilities Information",clients_path%></br></br></br></br></br></br>
</div>