 <div id="new_div">
	<ul>
        <li><%=link_to_unless_current"Home" ,post_home_path,:alt=>'Home'%></li>
		<li><%=link_to_unless_current "Geriatric_Care_Manager", post_Geriatric_Care_Manager_path, :alt=>'Geriatric Care Manager'%></li>
		<li><%=link_to_unless_current "Geriatric_Client", post_Geriatric_Client_path, :alt=>'Geriatric Client'%></li>
		<li><%=link_to_unless_current "Providers",post_Providers_path,:alt=>'Providers'%></li>
		<li><%=link_to_unless_current "Medical_History",post_Medical_History_path,:alt=>'Medical History'%></li>
        <li><%=link_to_unless_current "Banking_And_Financial" ,post_Banking_And_Financial_path,:alt=>'Banking_And_Financial'%></li>
		<li><%=link_to_unless_current "Other_Documents",post_Other_Documents_path,:alt=>'Other Document'%></li>

	</ul>
</div>
