<div id="big_wrapper">
		<header id="top_header1">
		<h1>Client </h1><%=image_tag "image(3).gif" %>
</header>
  </div>
<nav id="top_menu">
<%=render :partial=>'shared/navigation'%>
  </nav>
<%= render 'form' %>
<%= link_to 'Show', @client %> |
<%= link_to 'Back', clients_path %>
